@page
@using TelegramMemberShipBot_CryptoPayments.Database
@model TelegramMemberShipBot_CryptoPayments.Pages.UsersModel
@{
    DatabaseContext DbContext = new();
    var Users = DbContext.GetUsers();
    DbContext.Dispose();
}

<h2 style="text-align: center;">Users</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Username")
            </th>
            <th>
                @Html.DisplayName("FullName")
            </th>
            <th>
                @Html.DisplayName("End Date")
            </th>
            <th>
                @Html.DisplayName("Last Payment Amount")
            </th>
            <th>
                @Html.DisplayName("Last Payment Coin")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var User in Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => User.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => User.LastPaymentAmountCoin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => User.LastPaymentCoinName)
                </td>
            </tr>
        }
    </tbody>
</table>
